<h1>Coin Combinations Calculator</h1>
  <form action="/result">
    <div class ="form-group">
      <label for="amount">Enter in an amount of money (US dollars)</label>
      <input id="amount" name="amount" class="form-control" type="number" step="0.01">
    </div>
    <button type="submit" class="btn-success">Send</button>
  </form>
